* {
	font-family: 'Montserrat';
	box-sizing: border-box;
	
	margin: 0;
	padding: 0;
	text-decoration: none;
}

@font-face{ 
    font-family: "Yeytud";
    src: url('polices/Yeytud.ttf') format("truetype");
}

@font-face{
	font-family: "Montserrat";
	src: url('polices/Montserrat-Regular.ttf') format("truetype");
}

header{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
}

nav ul{
	display: flex;
	flex-direction :row;
	justify-content :space-between;
	background-color: black;
}

nav ul li{
	display: flex;
	justify-content: center;
	list-style-type: none;
	font-size: x-large;
	flex-grow: 1;
}

nav ul li a{
	padding: 10px;
	color: white;
}

nav ul li:hover{
	background-color: #9a330a;
}

#banniere{	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}

.presentation{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.presentation p{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style-type: none;
	font-size: large;
	flex-grow: 1;
}

.presentation img{
	width: 150px;
}

#tab{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #fafafa;
}

#outFr{
	margin-left: auto;
	margin-right: 10px;
	width: auto;
	height: auto;	
	font-family:'Montserrat';
	font-size: 32px;
}


#outYey{
	margin-left: 10px;
	margin-right: auto;
	width: auto;
	height: auto;	
	font-family:'Yeytud';
	font-size: 32px;
}

#principal {
    margin-top : 10px;
    flex-direction: row;
    display : flex
    float: left; 
    margin-right: 100px;
}

#principal article {
    flex: 1; 
    font-size: xx-large;
}

.cadre{
	width: 100%;
	display: flex;
	flex-direction: row;
        border-width: 2px;
        border-color: black;
        border-style: double;
           
}

.cadre p{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	list-style-type: none;
	font-size: large;
	flex-grow: 1;
}

.cadre img{
	width: 150px;
        flex-direction: column
        
}
