.something{
	text-align:center;
        width: 50%;
        border: black;
        border-style: double;
        margin-bottom: 5px;
        margin-top: 10 px;
        
        
      
}
.course-link{
	color: #9df;
	font-size: 20px;
	text-align: center;
}
.images{
    width: 100%;
    display: flex;
    border: black;
    
}



