.something{
	text-align:center;
        width: 50%;
        border: black;
        border-style: double;
        margin-bottom: 5px;
        margin-top: 10 px;
        
        
      
}

.images
{
    width: 100%;
    display: flex;
    border: black;
    
}

.cours {
		text-align:center;
        width: 50%;
        border: black;
        
        margin-bottom: 5px;
        margin-top: 20 px;
	
}

.choix {
	
	text-align:center;
        width: 100%;
        border: green;
        
        margin-bottom: 5px;
        margin-top: 20 px;
}



