body{
	background-image: url('../images/dictionnary_background.jpg');
	background-repeat: no-repeat;
	display: block;
}

.dico-title{
	color: #000000;
	text-shadow:
		 2px  0px  0px #fff,
		-2px  0px  0px #fff,
		 0px  2px  0px #fff,
		 0px -2px  0px #fff,
			  1px  1px #fff,
		-1px -1px  0px #fff,
		 1px -1px  0px #fff,
		-1px  1px  0px #fff;
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
	padding: 10px;
	font-weight: bold;
}
.dico-info{
	color: #000000;
	text-shadow:
		 1px  0px  0px #fff,
		-1px  0px  0px #fff,
		 0px  1px  0px #fff,
		 0px -1px  0px #fff;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 20px;
}
.fra-zone, .yey-zone{
	display: inline-block;
	width: 45%;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
	padding: 12px 20px;
	background-color: #5f5f5f;
	border-width: 5px;
	border-style: ridge;
	padding: 10px 10px;
	border-radius: 8px;
}
.divFrame{
	color: #ffffff;
	background-color: #9f9f9f;
	border-color: #2f2f2f;
	border-style: outset;
	padding: 10px 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.yey-flag, .fra-flag{
	display: block;
	float: left;
	padding: 3px 3px;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
	border-style: ridge;
	border-radius: 5px;
}
.dico-input{
	width: 85%;
	padding: 12px 20px;
	margin: 8px 0;
	padding: 10px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
