body{
	background-image: url('../images/history_background.jpg');
	background-repeat: no-repeat;
	display: block;
}

/* chapter */
.chapter{
	color: #f7f7af;
	background-color: rgba(0,0,0, 0.4);
	margin-left: 50px;
	margin-right: 450px;
	margin-bottom: 240px;
	padding: 10px 10px;
	border-style: solid;
	border-radius: 15px;
}
.chapter-title{
	text-align: center;
	font-family: sans-serif;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
}
.chapter-text{
	text-align: start;
	margin-left: 10px;
	font-family: sans-serif;
	padding-bottom: 0px;
	font-size: 16px;
}