/* top banner */
.topBanner{
	text-align: center;
	background: url('../images/index_topBanner.jpg') no-repeat center center fixed;
	color: #499dc6;
 	min-height: 800px; 
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
    display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
}
.topBanner-title{
    font-weight: 1000;
    letter-spacing: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
}
.topBanner-text{
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* presentation */
.presentation{
	margin-top: 20px;
	padding: 40px 40px;
}
.presentation-title{
	text-align: end;
	font-weight: bold;
	float: middle;
	margin-right: 36%;
}
.presentation-text{
	text-align: center;
	padding: 50px 50px;
}
.presentation-image{
	float:left;
	margin-top: -5%;
}

/* another */
.another{
	margin-top: 20px;
	padding: 40px 40px;
}
.another-title{
	text-align: end;
	font-weight: bold;
	float: middle;
	margin-right: 36%;
}
.another-text{
	text-align: center;
	padding: 50px 50px;
}
.another-image{
	float:left;
	margin-top: -5%;
}
